map $http_upgrade $connection_upgrade {
    default upgrade;
    '' close;
}

server {
    listen 80;
    server_name localhost;

    client_max_body_size 512m;
    proxy_read_timeout 600s;
    proxy_send_timeout 600s;

    proxy_set_header Host $host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Forwarded-Proto $scheme;

    location / {
        proxy_pass http://front:8080;
    }

    location = /_accounts {
        proxy_pass http://account:3000/;
    }

    location /_accounts/ {
        proxy_pass http://account:3000/;
    }

    location = /_rekoni {
        proxy_pass http://rekoni:4004/;
    }

    location /_rekoni/ {
        proxy_pass http://rekoni:4004/;
    }

    location = /_stats {
        proxy_pass http://stats:4900/;
    }

    location /_stats/ {
        proxy_pass http://stats:4900/;
    }

    location = /_transactor {
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection $connection_upgrade;
        proxy_pass http://transactor:3333/;
    }

    location /_transactor/ {
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection $connection_upgrade;
        proxy_pass http://transactor:3333/;
    }

    location = /_collaborator {
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection $connection_upgrade;
        proxy_pass http://collaborator:3078/;
    }

    location /_collaborator/ {
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection $connection_upgrade;
        proxy_pass http://collaborator:3078/;
    }

    location = /files {
        return 301 /files/;
    }

    location /files/ {
        proxy_pass http://front:8080;
    }
}