TZ=America/Mexico_City

POSTGRES_USER=mmuser
POSTGRES_PASSWORD=change-this-now
POSTGRES_DB=mattermost

# Use a pinned version, not "latest"
MATTERMOST_IMAGE_TAG=release-10.5

# For local test only, you could use http://localhost:8065
SITE_URL=http://localhost:8065